extends layout

block head-extras
   link(rel='stylesheet', href='/stylesheets/infopages.css')
   title='About the site UW'
   meta(description='Learn more about the site unicode.website')
block content
   h1(style="padding:30px") About the site
   div#words
      h2 Unicode-Website was developed to help users gain an understanding of how Unicode works, and get extra information from your text.
      h2 It was developed as a ENGR-489 project at Victoria University in 2015.