extends layout

block head-extras
    link(rel='stylesheet', href='/stylesheets/char.css')
    title= char.name+' UW Character'

block content

    div#charBig= char.Character
    h1(style="padding:30px") You searched for #{char.Character}
    char.Name
        ul
            each val,key in char
                li= key + " ~ " + val