extends layout

block head-extras
    link(rel='stylesheet', href='/stylesheets/index.css')
    title='Unicode-Webapp'
    meta(description='Analyse and get information on unicode text.')

block content
    div.jumbotron
        h1 Welcome to #{title}
        p Do stuff with unicode.
        p
            a.btn(href='about') Help finding your way
            a.btn(href='unicode') Learn how Unicode works

    form#searchForm(role="form", action="search")
        textarea#search(name="inp",form="searchForm", placeholder="Enter text, a character, or even a code point",required)
        button#submit(type="submit")
            i.fa.fa-flask.fa-5x
            br
            h2(style="margin:0") Go!