extends layout

block head-extras
    link(rel='stylesheet', href='/stylesheets/search.css')
    title= search+' UW search'

block content

    h1(style="padding:30px") You searched for #{search}
    div#paperHolder
        div#paper
            each c in chars
                a.tooltip(href='/'+c['Character Point'])= c.Character
                    span
                        ul
                            each val,key in c
                                li= key + " ~ " + val