extends layout

block head-extras
    link(rel='stylesheet', href='/stylesheets/search.css')
    title= search+' UW search'

block content

    h1(style="padding:30px") You searched for #{search}
    div.paper
        ul.charList
            each c in chars
                li
                    a.tooltip(href='/'+c.charPoint)= c.name
                        span
                            ul
                                each val,key in c
                                    li= key + " ~ " + val