@font-face {
    font-family: Symbola;
    src: url(../fonts/Symbola.ttf);
}

@font-face {
    font-family: Unifont;
    src: url(../fonts/unifont.ttf);
}

#charBig{
    float:right;
    border: 2px solid #111111;
    font-size: 15vw;
    width: 17vw;
    height: 17vw;
    text-align: center;
    line-height: 15vw;
    margin: 30px;
    font-family: Sans-Serif, Serif, Symbola, Unifont;
}

#details{
    padding-bottom:20px;
}