.charList {
    display: inline-block;
}

a.tooltip {
    outline:none;
    color: inherit;
}
a.tooltip strong {line-height:30px;}
a.tooltip:hover {text-decoration:none;}
a.tooltip span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
}
a.tooltip:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;
}

a.tooltip span
{
    border-radius:4px;
    text-align:left;
}

#paperHolder{
    text-align:center;
}

#paper{
    text-align:left;
    display: inline-block;
    word-wrap: break-word;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    font-family: monospace;
    font-size: 40px;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 30px;
    background-color: #fafafa;
    border: #fafafa;
    box-shadow: 0 1px 4px rgba(0,0,0,.3)
    ,0 0 40px rgba(128,128,128,.1)inset
}

#asText{
    display: none;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
}

.flex-item {
    order: 0;
    align-self: auto;
    width: 320px;
}

#sizes{
    flex-grow:5;
}

.charHolder
{
    display: inline-block;
    width:70px;
    height:70px;
    line-height:35px;
    margin:6px;
    font-size:18px;
    text-align:center;
    background-color: #a0a0a0;
}

.toggle
{
    padding:5px 15px;
}

.comb
{
    background-color: #d0a0a0;
}

td{
    padding:10px;
}