@font-face {
    font-family: Symbola;
    src: url(../fonts/Symbola.ttf);
}

@font-face {
    font-family: Unifont;
    src: url(../fonts/unifont.ttf);
}

.charList {
    display: inline-block;
}

#paperHolder{
    text-align:center;
}

#paper{
    text-align:left;
    display: inline-block;
    word-wrap: break-word;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    font-family: monospace;
    font-size: 40px;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 30px;
    background-color: #fafafa;
    border: #fafafa;
    box-shadow: 0 1px 4px rgba(0,0,0,.3)
    ,0 0 40px rgba(128,128,128,.1)inset
}

#asText{
    display: none;
}

#topBits{
    padding:30px;
    margin-bottom: 30px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
}

.flex-item {
    align-self: auto;
}

.graph{
    width: 320px;
}

#sizes{
    flex-grow:5;
}

.charHolder
{
    display: inline-block;
    width:80px;
    height:80px;
    line-height:35px;
    margin:6px;
    text-align:center;
    background-color: #a0a0a0;
    font-family: Sans-Serif, Serif, Symbola, Unifont;
    vertical-align:middle;
}

.symbol
{
    font-size: 20px;
}
.charPoint
{
    font-size: 16px;
}

.gBreak
{
    display: inline-block;
    width:10px;
    height:80px;
    margin:6px;
    line-height:35px;
    font-size:18px;
    text-align:center;
    background-color: #9DC4DF;
    vertical-align:middle;
}

.toggle
{
    padding:5px 15px;
}

.comb
{
    background-color: #d0a0a0;
}

td{
    padding:10px;
}

.youSearched
{
    font-family: Sans-Serif, Serif, Symbola, Unifont;
}

#info{
    flex-grow:5;
}