html {
  height: 100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #d3d2d1;
  min-height: 100%;
}
.container {
  background-color: #fff;
  border: 0 solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}
.nav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  background-color: #444;
  border-top: 0 solid transparent;
  border-radius: 4px;
}
.nav li {
  float: left;
  width: 120px;
  line-height: 50px;
  font-size: 1.4em;
  display: inline-block;
  margin-right: -4px;
}
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: 0.3s background-color;
}
.nav a:hover {
  background-color: #005f5f;
}
.nav a:active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
.nav li.right {
  float: right;
}
.fa-question-circle{
  padding-left: 10px;
  padding-right: 10px;
  color:#9DC4DF;
}
a.tooltip {
  outline:none;
  color: inherit;
}
a.tooltip strong {line-height:30px;}
a.tooltip:hover {text-decoration:none;}
a.tooltip span {
  z-index:10;
  display:none;
  padding:14px 20px;
  margin-top:-30px;
  margin-left:28px;
  font-size: 16px;
  font-style: normal;
  font-weight:normal;
  max-width: 350px;
}
a.tooltip:hover span{
  display:inline;
  position:absolute;
  color:#111;
  border:1px solid #DCA;
  background:#fffAF0;
}
a.tooltip span
{
  border-radius:4px;
  text-align:left;
}
#words{
  padding:10px 30px 30px 30px;
}